DS_Alzheimer_Project_Folasewa/preprocessed_dataset/
DS_Alzheimer_Project_Folasewa/preprocessed_filtered/
DS_Alzheimer_Project_Folasewa/filtered_subjects/
DS_Alzheimer_Project_Folasewa/epochs_overlap_output/
DS_Alzheimer_Project_Folasewa/spectrum_features.csv
DS_Alzheimer_Project_Folasewa/filtered_subjects_short/
DS_Alzheimer_Project_Folasewa/preprocessed_filtered_short/
DS_Alzheimer_Project_Folasewa/epochs_overlap_short/
DS_Alzheimer_Project_Folasewa/heatmaps/
DS_Alzheimer_Project_Folasewa/subject-level-heatmap/
DS_Alzheimer_Project_Folasewa/brain_network_visuals/
DS_Alzheimer_Project_Folasewa/complexity_features_short.csv
DS_Alzheimer_Project_Folasewa/spectrum_features_short.csv
DS_Alzheimer_Project_Folasewa/complexity_metrics.csv
DS_Alzheimer_Project_Folasewa/synchronization_features_short.csv
DS_Alzheimer_Project_Folasewa/synchronization_features_check.csv
*.DS_Store
