DS_Alzheimer_Project_Folasewa/preprocessed_dataset/
DS_Alzheimer_Project_Folasewa/preprocessed_filtered/
DS_Alzheimer_Project_Folasewa/filtered_subjects/
DS_Alzheimer_Project_Folasewa/epochs_overlap_output
*.DS_Store
